.title {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: rgb(250, 250, 250);
    margin: 0;
    padding: 0;
}
/* Estilos para o header */
header {
  background-color: rgb(58, 58, 58);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: white;
  flex-direction: column;
}

/* Estilos para o header */
header {
  background-color: rgb(58, 58, 58);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: white;
}

img{
  height: auto;
  width: 100px;
}

h1 {
  margin-top: 1px; /* Espaço entre o logo e o título */
  font-size: 40px;
}

nav ul {
  list-style: none;
  display: flex;
  margin-top: 20px; /* Espaço entre o título e o menu */
}

nav ul li {
  margin: 0 10px; /* Margem para todos os lados */
}

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 10px 15px; /* Padding para os links */
  border-radius: 5px; /* Borda arredondada */
  transition: background-color 0.3s ease; /* Transição suave ao passar o mouse */
}


nav ul li a:hover {
  background-color: #333; /* Cor de fundo ao passar o mouse */
}

@media (min-width: 768px) {
  header {
    flex-direction: row;
    justify-content: space-between;
  }
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #f2f2f2;
}
section {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    
    max-width: 800px;
    margin: auto;
}
h2 {
    color: #333;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 15px;
}
ul {
    list-style-type: none;
    padding: 0;
}
ul li {
    margin-bottom: 10px;
}
ul li a {
    color: #fe0000; 
    text-decoration: none;
    transition: color 0.3s;
}
ul li a:hover {
    color: #ed0606;
}
ol {
    counter-reset: item;
    margin-top: 10px;
    margin-bottom: 10px;
}
ol li {
    counter-increment: item;
    margin-bottom: 5px;
}
ol li a {
    color: #000000;
    text-decoration: none;
    transition: color 0.3s;
}


ol li p {
    color: #28a745;
    text-decoration: none;
    transition: color 0.3s;
}

ol li a:hover {
    color: blue;
}

video {
    width: 55%;
    display: block;
}


.passo-passo{
    padding: 10px;
    position: relative;
  width: 100%;
  max-width: 460px; /* Largura máxima do vídeo */
}

.passo-passo iframe{
    width: 100%;
  height: 100%;
  border-radius: 18px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } /* Verificar esse CSS */
  
  

  .alimentacao a{
    color:rgb(140, 11, 214) ;
  }

  /* Estilos para o footer */

/* Estilos gerais para o footer */
.footer {
  background-color: #333;
  color: #fff;
  padding: 50px 0;
  font-size: 14px;
}

/* Estilos para o container dentro do footer */
.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Estilos para o footer */

/* Estilos gerais para o footer */
.footer {
  background-color: #333;
  color: #fff;
  padding: 30px 0; /* Reduzindo o padding vertical */
  font-size: 14px;
}

/* Estilos para o container dentro do footer */
.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5px;
}

/* Estilos para as seções dentro do footer */
.footer-section {
  flex: 1 1 300px;
  margin-bottom: 20px;
}

.footer-section h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #fff;
}

.footer-section p {
  color: #ccc;
  line-height: 1.6;
}

/* Estilos para os links no footer */
.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-section ul li a:hover {
  color: #fff;
}

/* Estilos para o texto no rodapé do footer */
.footer-bottom-text {
  text-align: center;
  color: #ccc;
  margin-top: 20px;
}

/* Estilos para os ícones e redes sociais */
.contact, .socials {
  margin-top: 20px;
}

.contact span, .socials a {
  display: block;
  margin-bottom: 10px;
  color: #ccc;
  text-decoration: none;
}

.contact span i, .socials a i {
  margin-right: 10px;
}

.contact span a, .socials a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s ease;
}

.contact span a:hover, .socials a:hover {
  color: #fff;
}

.pdf{
  color: rgb(0, 119, 255);
}

.logo-head{
  width: 80px;
}

.beevale{
  text-align: center;
  color: #ed0606;
}


